*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #091037; */
}
body{
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    color: #a0a0a0;
    line-height: 1.6 ;

}
.main-container{
    /* display grid will make main container into parts */
    display: grid;
    max-width: 1200px;
    /* background-color: #565555; */
    /* column wise 1st column of 300px remaining other space */
    grid-template-columns: 300px 1fr;
    gap: 30px;
    padding-top: 40px;
    margin: auto;
   
   
    
}
.sidebar{
    height: 80vh;
    background-color: #212124;
     /* margin-top: 0PX; */
    padding-top: 40px;
    border-radius: 80px;

    border :2px solid white;
    text-align: center;


}
.profile{
    text-align: center;
}
.main-content{
    height: 80vh;
    border: 2px solid white;
    background-color: #212124;
    border-radius: 100px;

    
}
.profile img{
    height: 120px;
    width: 120px;
    border-radius: 70px;
   align-self: center;
}
.profile p{
    padding: 6px;
    border: 6px solid #a0a0a0;
    /* border-width: 10px; */
    background-color: rgb(103, 193, 24);
    color: rgb(23, 83, 135);
    display: inline;
    border-radius: 8px;
}

.contact{
    margin-top: 30px;
    border-top: 1px solid #1e1e1e;
    /* padding: 10px 0px; */
    /* margin: auto; */
    margin-left: 50px;
    margin-right: 5px;
    width: 200px;
    /* text-align: center; */
}
.value{
    color: aliceblue;
}
.accounts{
    margin-top: 30px;
    border-top: 1px solid #1e1e1e;
    margin-left:50px;
    width: 200px;
}
.Skills h1 {
    color: blanchedalmond;
    margin-left: 10px;
    transition: all 0.3s ease;
}
     
/* Hover effect */
.Skills h1:hover {
    color: #00ffd5;
    transform: scale(0.96); 
    text-shadow: 4px -2px 4px rgba(51, 108, 232, 0.7); 
    cursor: pointer;
}
.branch:hover{
    color: #d7c720;
    transform: scale(0.96); 
    text-shadow: 2px 2px 10px rgba(114, 19, 208, 0.7); 
    cursor: pointer;
 transition: all 0.3s ease;
}
.about-me:hover{
     color: #e38812;
    transform: scale(0.96); 
    text-shadow: 2px 2px 10px rgba(207, 178, 64, 0.7); 
    cursor: pointer;
    transition: all 0.3s ease;

}